body{
font-family: Arial;
background:#f4f4f4;
}

.container{
width:900px;
margin:auto;
border:2px solid black;
}

header{
background:#ddd;
padding:20px;
}

.banner{
height:200px;
border:2px solid black;
margin:20px;
background:#ddd;
}

.contenido{
padding:20px;
}


.menu ul li {
list-style:none;
display:inline;
margin-right:15px;
}

main{
padding:20px;
}

.whatsapp{
display:inline-block;
background:#25D366;
color:white;
padding:10px 15px;
text-decoration:none;
border-radius:5px;
margin-top:10px;
}


footer{
border-top:2px solid black;
padding:20px;
}