<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
        <div class="contenido">

            <h2>Contáctanos</h2>

            <a class="whatsapp" href="https://wa.me/573001234567" target="_blank">
            Contactar por WhatsApp
            </a>

            <h3>Ubicación</h3>

            <iframe 
            src="https://www.google.com/maps/place/NUEVA+COLOMBIA,+Aguachica,+Cesar/@8.3210668,-73.5974229,17z/data=!3m1!4b1!4m6!3m5!1s0x8e5d8f7ad29653f9:0x3931e38c62529bfd!8m2!3d8.3212675!4d-73.5945619!16s%2Fg%2F1hhx842cw?entry=ttu&g_ep=EgoyMDI2MDMxMS4wIKXMDSoASAFQAw%3D%3D"
            width="100%" 
            height="300" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
            </iframe>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fuga autem rem quae laboriosam, deleniti earum ad dignissimos doloribus corrupti dicta cupiditate nostrum vitae recusandae voluptates id reiciendis sapiente labore?</p>

        </main>

        <footer>
            <p>&copy; 2026 Mi Sitio Web. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>